@page
@model Glare.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Add/Remove Roles or Claims</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if (Model.RolesList.Any())
            {
                for (int i = 0; i < Model.RolesList.Count(); i++)
                {
                    <div>
                        <input asp-for="@Model.RolesList[i].RoleId" type="hidden" />
                        <input asp-for="@Model.RolesList[i].RoleName" type="hidden" />
                        <input asp-for="@Model.RolesList[i].IsSelected" type="checkbox" class="form-check-input" />
                        <label asp-for="@Model.RolesList[i].IsSelected">@Model.RolesList[i].RoleName</label>
                    </div>
                }

            }
            <label><b>User Claims</b></label>
            @if (Model.UserClaims.Any())
            {
                for (int i = 0; i < Model.UserClaims.Count(); i++)
                {
                    <div>
                        <input asp-for="@Model.UserClaims[i].ClaimType" type="hidden" />
                        <input asp-for="@Model.UserClaims[i].IsSelected" type="checkbox" class="form-check-input" />
                        <label asp-for="@Model.UserClaims[i].IsSelected">@Model.UserClaims[i].ClaimType</label>
                    </div>
                }
                
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

